# Easier navigation: .., ..., ~ and -
alias ..="cd .."
alias ...="cd ../.."
alias ....="cd ../../.."
alias .....="cd ../../../.."
alias ~="cd ~" # `cd` is probably faster to type though

alias ls='ls -lh'

alias hidden-show="defaults write com.apple.finder AppleShowAllFiles TRUE; killall Finder"
alias hidden-hide="defaults write com.apple.finder AppleShowAllFiles FALSE; killall Finder"

alias please="sudo"

alias g="git"
alias master="git checkout master"

alias ip="ipconfig getifaddr en0"

alias desktop="cd ~/Desktop"
